#wrapper {
    display: flex;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor,
#output {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    flex: 1;
}

#output {
    background-color: black;
    color: white;
    border: 1px solid black;
    outline: 1px solid black;
    resize: none;
}